<div style="background-color: lavender; text-align: center;border-style: solid; padding: 20px;">
<h1>Sign Up</h1>
<hr>
<div>
	<%= form_for @customer do |f| %>


		<%= f.label :email %>
		<br>
		<%= f.email_field :email %>
		<div class="error_message">
			<% @customer.errors.full_messages_for(:email).each do |msg| %>
		<%= msg %>
		<% end %>
		</div>
		

		<br>

		<%= f.label :password %>
		<br>
		<%= f.password_field :password %>
		<div class="error_message">
			<% @customer.errors.full_messages_for(:password).each do |msg| %>
		<%= msg %>
		<% end %>
		</div>
		

		<br>

		<%= f.label :password_confirmation %>
		<br>
		<%= f.password_field :password_confirmation %>
		<div class="error_message">
			<% @customer.errors.full_messages_for(:password_confirmation).each do |msg| %>
		<%= msg %>
		<% end %>
		</div>
		
		<br>
		<br>
		<%= f.submit "Sign up!" %>
	<% end %>
</div>
<br>
<%= link_to "Back to Home page", root_path %>
</div>
